body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 30px;
  box-sizing: border-box;
}

.modal-btn {
  padding: 10px 30px;
  color: darkslategray;
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  border-color: darkslategray;
  box-shadow: 1px 1px 1px darkslategray;
  cursor: pointer;
  transition: 0.3s;
}

.modal-btn:hover {
  color: white;
  background-color: darkslategray;
  opacity: 0.8;
}

dialog {
  position: relative;
  padding: 40px;
  border: 1px solid darkslategray;
  border-radius: 10px;
  box-shadow: 1px 1px 1px darkslategray;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog > button {
  padding: 5px;
  color: white;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

dialog > button:hover,
form button:hover {
  opacity: 0.8;
}

form {
  display: grid;
  grid-template-columns: minmax(200px, 300px);
  gap: 15px;
}

form .form-item {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

form .form-item input {
  padding: 5px;
  border-radius: 7px;
  border: 1px solid lightgray;
  background-color: rgb(247, 247, 247);
  outline: none;
  font-size: 14px;
}

form button,
.display button {
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  justify-self: center;
  border: 1px solid gray;
  cursor: pointer;
}

.display {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.display .book {
  display: grid;
  grid-template-columns: 1fr;
  gap: 7px;
}

.display button:active,
form button:active {
  position: relative;
  left: 1px;
  top: 1px;
}

.book {
  background-color: darkslategrey;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid darkgrey;
  box-shadow: 2px 2px 2px black;
}

.book h2 {
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px black;
}
